:root {
  --primary-main: #1DB954;
  --primary-light: #1ED760;
  --primary-dark: #0F4D0F;
}


html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: '#1DB954';
  color: #ffffff;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #282828;
}

::-webkit-scrollbar-thumb {
  background: #535353;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1DB954;
}

a {
  color: #1DB954;
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: #1ed760;
}

.full-height {
  height: 100%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}